<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tycoding.tumo.cloud.system.biz.mapper.SysRoleMapper">

    <select id="findRolesByUserId" resultType="cn.tycoding.tumo.cloud.system.api.entity.SysRole">
        select r.*
        from sys_user u, sys_user_role ur, sys_role r
        where ur.user_id = u.id and ur.role_id = r.id and u.id = #{id}
    </select>

    <select id="findById" resultType="cn.tycoding.tumo.cloud.system.api.dto.RoleWithMenu">
        select r.*, rm.menu_id menuId
        from sys_role r, sys_role_menu rm
        where rm.role_id = r.id and r.id = #{roleId}
    </select>
</mapper>
