<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tycoding.tumo.cloud.system.biz.mapper.SysUserMapper">

    <select id="list" resultType="cn.tycoding.tumo.cloud.system.api.dto.UserWithInfo">
        select distinct u.id, u.username, u.create_time, u.phone, u.status, d.id deptId, d.name deptName
        from sys_user u, sys_dept d
        where u.dept_id = d.id
        <if test="user.username != null and user.username != ''">
            and u.username like concat ('%', #{user.username}, '%')
        </if>
        <if test="user.deptId != null">
            and u.deptId = #{user.deptId}
        </if>
        <if test="user.status != null">
            and u.status = #{user.status}
        </if>
        order by u.id
    </select>
</mapper>
