<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tumo-Cloud 统一认证</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h2 class="heading">Tumo-Cloud 微服务统一认证</h2>
    <form class="form-signin" method="post" action="/token/form">
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="账号" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>

        <p th:if="${error}" class="text-danger">[[${error}]]</p>
    </form>
</div>
</body>
</html>
